<div class="navbar navbar-fixed-bottom" bs-navbar>
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/app/home">
          <button class="btn btn-large segments-color" data-match-route="/app/segments" type="button">Home</button>
      </a>
      <a class="brand" href="/app/details">
          <button class="btn btn-large segments-color" data-match-route="/app/details" type="button">Details</button>
      </a>
    </div>
  </div>
</div>