<div class="navbar" bs-navbar>
  <div class="navbar-inner">
    <div class="container-fluid">
    	<a ng-controller="appController" class="brand" href="">Panel App - {{name}}</a>
      <div class="pull-right">
          <a href="/app/about">
            <button class="btn btn-warning" type="button">
              About
            </button>
          </a>
      </div>
    </div>
  </div>
</div>